input {
    margin-top: 10px;
    height: 20px;
    border: 1px solid #a4a4a4;
}
.feedback-form {
    position: absolute;
    left: 30vw;
    top: 30vh;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.send-form {
    cursor: pointer;
    height: 20px;
    margin-top: 20px;
    background-color: cadetblue;
    border: 1px transparent;
    border-radius: 5px;
}

.errors {
    margin-top: 10px;
    font-size: 16px;
}

.error-input {
    border-color: red;
}